<% provide :title, t(".title") %>
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".the" %> <a href="http://www.railstutorial.org/"><em><%= t ".railstutorial" %></em></a> <%= t ".isa" %>
  <a href="http://www.railstutorial.org/book"><%= t ".book" %></a> <%= t ".and" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".screencasts" %></a>
  <%= t ".nextsc" %>
  <a href="http://rubyonrails.org/"><%= t ".rubyonrails" %></a>.
  <%= t ".last" %>
</p>
</body>
</html>